@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');/*Using roboto Font*/


*{/*Main CSS*/
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    height: 3000px;
    margin: 0; /*Margin use for setup the body content no spacing on left and right side*/
}

.first-bar{
    display: grid;/*Using Grid*/
    grid-template-columns: 25% 25% 50%;/*Using percentage to setup for any screen size*/
    background-color: grey;
    margin: 0;
    height: 40px;
    position: fixed;
    top:0;/*Cuz using Fixed position then top,left,right no spacing*/
    left:0;
    right:0;
    padding-top: 10px;
    font-size: 18px;
    z-index: 1000;
}

.handphone{
    text-align: right;
}

.email{
    text-align: center;
}

.icon{
    text-align: center;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.custom-icon{
    font-size: 25px;
    padding-left: 15px;
    transition: 0.3 ease;
}

.facebook_link{
    color: black;
}
.facebook_link:hover{
    color: white;
}

.youtube_link{
    color: black;
}
.youtube_link:hover{
    color: white;
}

.Header{
    display: grid;
    grid-template-columns: 50% 50%;
    width:100%;
    height: auto;
    position: fixed;
    background-color:white;
    left: 0;/*only the position are fixed using left,right,top,bottom*/
    right: 0;
    top: 40px;/*cuz the first bar height are 30px then make sure not affect the first bar*/
    z-index: 1000;
}


.logo img{
    width: 18%;
    height: 100%;
    padding-left: 40%;
}


.Menu{
    padding-top:50px;
}
.Menu a{ /*For menu button*/
    color: grey;
    text-decoration: none;/*make it no underline*/
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;/*padding for button have a more spacing*/
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Menu a:hover{
    background-color: lightgray;
}

.homepage-banner{
    width:100%;
    height: 844px;
    margin-top:220px;
    background-image: url(HHeng.png);
    background-position: bottom;
    
} 

.Category{
    font-size: 40px;
    text-align: center; 
    color: black;
    margin-top: 80px;
}

.Tabs-nav-bar{
    position: relative;
    margin: 65px 10px 40px 10px;
}

.Tabs-navigation{
    position: relative;
    display: flex;/*flex container*/
    justify-content: center;/*Only flex and grid can use*/
    align-items: center;/*Only flex and grid can use*/
    max-width: fit-content;
    margin: 0 auto;
}

section{
    position: relative;
    margin:0 80px;
    transition: 0.5ms ease;
}

.Category-bar{
    position: relative;
}

.Tab-menu{ /*Tabs menu*/
    list-style: none;
    color: brown;
    background-color:white;
    max-width: 800px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 5px 25px (rgb(2,2,2,0.1));
}

.Tab-btn{/*Tabs button*/
    color: black;
    display: inline-block;/*change to horizontal*/
    font-weight: 400;
    font-size: 18px;
    margin: 0 2px;
    padding:10px 20px;
    border-radius: 10px;
    cursor: pointer;/*Make it like button can click*/
    user-select: none;/*make it not available*/
    transition: 0.3ms ease;
}

.Tab-btn:hover{
    background-color: lightgrey;
    color: rgb(0, 119, 255);
}

.Tab-btn.active{
    background-color: lightblue;
}

.Tab-content{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    
}

.Tabs{
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 1100px;
    padding:15px 50px;
    transform: translateX(25px);
    content-visibility: hidden;
    opacity: 0;
}

.Tabs.active{
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
}

.Tabs .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0 ;
    gap: 30px;
}

.Tabs .Products-image{
    position: relative;
    width: 500px;
    max-width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow:10px 10px 5px lightgray;
}

.Tabs .Products-image img{
    width: 100%;
}

.right-column{
    width: 800px;
}

.herbs-information .Herbs-Name, .herbs-information .Herbs-Description p{
    color: #1877f2;
    margin-bottom: 10px;
}

.herbs-information .Herbs-Name{
    font-size: 2em;
}

.test_container{
    margin-top: 500px;
    margin-left: 0px;
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: RGB(221, 243, 250);

}
.testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding:50px 0px ;
    row-gap: 30px;
}

.testimonial .testimonial-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial-slide p{
    padding:0 100px;
    text-align: center;
    font-size:14px;
    color: #333;
}

.testimonial-slide{

}

#news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding :40px;
    border-bottom: 1px solid rgb(0,0,0,0.05);
}

.latest-news{
    font-size: 40px;
    text-align: center;
}

.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.news-box{
    width: 350px;
    border:1px solid #ececec;
    margin: 20px;
}

.news-img{
    width: 100%;
    height: auto;
}

.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.news-text span{
    font-size: 0.9rem;
}

.news-text a{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.news-text a:hover{
    color: grey;
    transition: all ease 0.3s;
}

.news-text p{
    color: #9c9c9c;
    font-size: 0,9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}

.new-btn{
    color: black;
}

.new-btn:hover{
    color: grey;
    transition: all ease 0.3s;
}