@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');/*Using roboto Font*/


*{/*Main CSS*/
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    height: 3000px;
    margin: 0; /*Margin use for setup the body content no spacing on left and right side*/
}

.first-bar{
    display: grid;/*Using Grid*/
    grid-template-columns: 25% 25% 50%;/*Using percentage to setup for any screen size*/
    background-color: grey;
    margin: 0;
    height: 40px;
    position: fixed;
    top:0;/*Cuz using Fixed position then top,left,right no spacing*/
    left:0;
    right:0;
    padding-top: 10px;
    font-size: 18px;
    z-index: 1000;
}

.handphone{
    text-align: right;
}

.email{
    text-align: center;
}

.icon{
    text-align: center;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.custom-icon{
    font-size: 25px;
    padding-left: 15px;
    transition: 0.3 ease;
}

.facebook_link{
    color: black;
}
.facebook_link:hover{
    color: white;
}

.youtube_link{
    color: black;
}
.youtube_link:hover{
    color: white;
}

.Header{
    display: grid;
    grid-template-columns: 40% 60%;
    width:100%;
    height: auto;
    position: fixed;
    background-color:white;
    left: 0;/*only the position are fixed using left,right,top,bottom*/
    right: 0;
    top: 40px;/*cuz the first bar height are 30px then make sure not affect the first bar*/
    z-index: 1000;
}


.logo img{
    width: 25%;
    height: 100%;
    padding-left: 40%;
}


.Menu{
    padding-top:50px;
}
.Menu a{ /*For menu button*/
    color: grey;
    text-decoration: none;/*make it no underline*/
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;/*padding for button have a more spacing*/
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Menu a:hover{
    background-color: lightgray;
}

.homepage-banner{
    width:100%;
    height: 844px;
    margin-top:220px;
    background-image: url(HHeng.png);
    background-position: bottom;
    
} 

.Category{
    font-size: 40px;
    text-align: center; 
    color: black;
    margin-top: 80px;
}

.Tabs-nav-bar{
    position: relative;
    margin: 65px 10px 40px 10px;
}

.Tabs-navigation{
    position: relative;
    display: flex;/*flex container*/
    justify-content: center;/*Only flex and grid can use*/
    align-items: center;/*Only flex and grid can use*/
    max-width: fit-content;
    margin: 0 auto;
}

section{
    position: relative;
    margin:0 80px;
    transition: 0.5ms ease;
}

.Category-bar{
    position: relative;
}

.Tab-menu{ /*Tabs menu*/
    list-style: none;
    color: brown;
    background-color:white;
    max-width: 800px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 5px 25px (rgb(2,2,2,0.1));
}

.Tab-btn{/*Tabs button*/
    color: black;
    display: inline-block;/*change to horizontal*/
    font-weight: 400;
    font-size: 18px;
    margin: 0 2px;
    padding:10px 20px;
    border-radius: 10px;
    cursor: pointer;/*Make it like button can click*/
    user-select: none;/*make it not available*/
    transition: 0.3ms ease;
}

.Tab-btn:hover{
    background-color: lightgrey;
    color: rgb(0, 119, 255);
}

.Tab-btn.active{
    background-color: lightblue;
}

.Tab-content{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    
}

.Tabs{
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 1100px;
    padding:15px 50px;
    transform: translateX(25px);
    content-visibility: hidden;
    opacity: 0;
}

.Tabs.active{
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
}

.Tabs .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0 ;
    gap: 30px;
}

.Tabs .Products-image{
    position: relative;
    width: 500px;
    max-width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow:10px 10px 5px lightgray;
}

.Tabs .Products-image img{
    width: 100%;
}

.right-column{
    width: 800px;
}

.herbs-information .Herbs-Name, .herbs-information .Herbs-Description p{
    color: #1877f2;
    margin-bottom: 10px;
}

.herbs-information .Herbs-Name{
    font-size: 2em;
}

.test_container{
    margin-top: 500px;
    margin-left: 0px;
    height: auto;
    width: 100%;
    background-color: RGB(221, 243, 250);
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.section-title{
    padding-top: 70px;
    width: 100%;
    padding-bottom: 40px;
}
.section-title p{
    color: #1877f2;
    font-size: 13px;
}
.section-separator{
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0;
}
.section-separator:before{
    content: '';
    position:absolute;
    left: 50%;
    top: 0;
    height: 3px;
    width: 50px;
    border-radius: 3px;
    background-color: #deebf8;
    margin-left:-25px;
}

.listing-carousel-button{
    position: absolute;
    top: 50%;
    width: 80px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    z-index: 100;
    cursor: pointer;
    background: #007aff;
    box-shadow: 0 9px 26px rgb(58, 87, 135, 0.45);
    transition: all 200ms linear;
    outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
    right: -30px;
    padding-right:20px ;
    border-radius: 60px 0 0 60px;
}

.listing-carousel-button.listing-carousel-button-prev{
    left: -30px;
    padding-left:20px ;
    border-radius: 0 60px 60px 0 ;
}
.listing-carousel-button.listing-carousel-button-next:hover{
    right: -15px;
    background: rgba(6, 27, 65,0.4);
}

.listing-carousel-button.listing-carousel-button-prev:hover{
    left: -15px;
    background: rgba(6, 27, 65,0.4);
}
.testi-item{
    transition: all .3s ease-in-out;
    transform: scale(0.9);
    opacity:0.9;
}

.testimonials-text{
    padding: 77px 50px 75px;
    background: #f5f6fa;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.testimonials-text-after{
    position: absolute;
    color: #108cee;
    opacity: .3;
    font-size: 35px;
    bottom: 25px;
    right: 30px;    
}

.testimonials-text-before{
    position: absolute;
    color: #108cee;
    opacity: .3;
    font-size: 35px;
    top: 25px;
    left: 30px;    
}

.textimonials-text .listing-rating{
    margin-bottom: 12px;
}

.listing-rating i{
    color: #0071ff;
}

.testimonials-avatar{
    color: #7d93b2;
    font-size: 18px;
}
.testimonials-avatar h3{
    color: #7d93b2;
    font-size: 18px;
}

.testimonials-avatar h4{
    font-size: 12px;
    padding-top: 6px;
    color: #007aff;
}
.testimonials-carousel .swiper-slide{
    padding: 30px 0 ;
}
.testi-avatar{
    position: absolute;
    left: 50%;
    top: -30px;
    width:90px;
    height:90px;
    margin-left: -45px;
}

.testi-avatar img{
    width:90px;
    height:90px;
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0 9px 26px rgba(58,87,135,0.1);
}

.testimonials-text p{
    color: #878c9f;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
}

.swiper-slide-active .testi-item{
    opacity: 1;
    transform: scale(1.0);
}


.tc-pagination{
    float: left;
    margin-top: 10px;
    width: 100% !important;
}
.tc-pagination_wrap{
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
}

.tc-pagination2{
    float:none;
    display: inline-block;
    padding: 14px 0;
    background-color:white;
    border-radius: 30px;
    min-width: 250px;
    border-bottom: 0;
}


#news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding :40px;
    border-bottom: 1px solid rgb(0,0,0,0.05);
}

.latest-news{
    font-size: 40px;
    text-align: center;
}

.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.news-box{
    width: 350px;
    border:1px solid #ececec;
    margin: 20px;
}

.news-img{
    width: 100%;
    height: auto;
}

.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.news-text span{
    font-size: 0.9rem;
}

.news-text a{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.news-text a:hover{
    color: grey;
    transition: all ease 0.3s;
}

.news-text p{
    color: #9c9c9c;
    font-size: 0,9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}

.new-btn{
    color: black;
}

.new-btn:hover{
    color: grey;
    transition: all ease 0.3s;
}

.footer{
    height: 500px;
    background-color: grey;
    width: 100%;
    margin-left: 0;
}

.footer-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: left;
    padding-top: 150px;
}

.footer-container .first-column img{
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}
.first-column{
    padding-left: 150px;
}
.second-column{
    padding-top: 50px;
    padding-left: 50px;
}
.third-column{
    padding-top: 50px;
    padding-left: 30px;
}
.fourth-column{
    padding-top: 50px;
    padding-left: 30px;
}
.footer-container p {
    margin-bottom: 15px; /* Adds spacing between each line */
    color: white;        /* Optional: set text color if needed */
}

/* Optional: improve spacing between sections too */
.footer-container h2 {
    margin-bottom: 35px; /* Adds spacing between heading and items */
    color: white;        /* Optional: for dark backgrounds */
}

.address {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* optional spacing */
}

.address i {
    margin-right: 10px; /* spacing between icon and text */
    font-size: 18px;    /* adjust as needed */
    color: white;       /* optional */
}

.address p {
    margin: 0;          /* remove default spacing */
    color: white;       /* optional */
    margin-bottom: 10px; 
}

.phone {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* optional spacing */
}

.phone i {
    margin-right: 10px; /* spacing between icon and text */
    font-size: 18px;    /* adjust as needed */
    color: white;       /* optional */
}

.phone p {
    margin: 0;          /* remove default spacing */
    color: white;       /* optional */
    margin-bottom: 10px; 
}

.Mails {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* optional spacing */
}

.Mails i {
    margin-right: 10px; /* spacing between icon and text */
    font-size: 18px;    /* adjust as needed */
    color: white;       /* optional */
}

.Mails p {
    margin: 0;          /* remove default spacing */
    color: white;       /* optional */
}

.Copyright{
    text-align: center;
    background-color: grey;
    border-top: white 1px solid;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}